<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    
    <handlers>
      <remove />
    </handlers>
    <rewrite>
      <rules>
       <remove/>
       
        
        
      </rules>
    </rewrite>
    <staticContent>
    <mimeMap fileExtension=".json" mimeType="application/json" />
</staticContent>
  </system.webServer>
</configuration>
