---
# Let's add a comment to make this file sass-y.
# Change this file for any custom CSS.
---

/* We need to add display:inline in order to align the '>>' of the 'read more' link */
.post-excerpt p {
	display:inline;
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
	"syntax"
;

.blog-logo img{
	height: 100px;
	border-radius: 100px;
	float: none;
	margin: 0 auto;
}
.blog-logo{
	float: none;
}

.big img{
	height: 200px;
}

i.fa {
	margin-right:10px;
}

.geekfest{
	background-color: rgb(184,14,15)!important;
	
}
.geekfest .page-title, .geekfest .page-description,.geekfest .site-button, .geekfest .back-button{
	color: #fff!important;
}

.geekfest .page-description,.geekfest .site-button, .geekfest .back-button{
border:none!important;	
}

.geekfest .main-nav.overlay a:hover{
	background: rgb(134,14,15)
}